.vm-list {
    padding: 15px;
}

.vm-box {
    margin: 5px;
    border: solid 2px black;
    border-radius: 5px;
}

.vm-box:not(:last-child) {
    margin-bottom: 25px;
}

.vm-box-header {
    display: flex;
    justify-content: space-between;
}

.vm-box-header > span {
    display: flex;
    padding: 5px;
    line-height: 1;
    border-bottom: solid 2px black;
    border-right: solid 2px black;
}

.vm-box-header > span:first-child {
    border-top-left-radius: 5px;
}

.vm-box-header > span:last-child {
    border-top-right-radius: 5px;
    border-right: none;
}

.vm-box-header > .vm-name {
    flex-grow: 1;
    text-align: center;
    display: block;
}

.vm-box-header > .vm-hostname {
    user-select: text;
    background-color: #cfcfcf;
}

.vm-info {
    display: flex;
    padding: 15px;
    flex-direction: row;
}

.vm-info .vm-property:not(:last-child) {
    margin-bottom: 10px;
}

.vm-info span {
    font-weight: 500;
}

.vm-info .chip {
    font-family: monospace;
    display: inline-block;
    background-color: #cfcfcf;
    padding: 3px 5px 3px 5px;
    margin-left: 10px;
    border-radius: 5px;
}

.vm-info > * {
    flex: 1 1 0;
    flex-direction: column;
    display: flex;
}

.vm-volumes-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vm-volumes-list {
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    overflow-y: auto;
}

.vm-volume {
    display: flex;
    align-items: center;
}

.vm-console-view {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.vm-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    flex-direction: column;
    background-color: #fff;
    padding: 12px 4px;
    border-radius: 32px;
    right: 12px;
    top: 50%;
    transform: translate(0, -50%);
}

.vm-controls span {
    display: flex;
}

.vm-console-view .vm-hostname {
    user-select: text;
    background-color: #cfcfcf;
    border: solid 1px black;
    padding: 5px;
    display: flex;
    line-height: 1;
}

.vm-controls input {
    text-align: center;
    margin-right: 8px;
}

.vm-controls input:focus {
    outline: none;
}

.vm-controls button {
    margin-left: 5px;
    margin-right: 5px;
}

.vm-console {
    position: relative;
    background-color: #000000;
    flex-grow: 1;
    margin-bottom: 2rem;
    border-radius: 4px;
}

.btn-control{
    border: 0;
    border-radius: 50%;
    padding: 11px 12px;
    display: block;
    margin: 12px;
    background: var(--c-background-tertiary);
    color: var(--c-accent-primary);
    cursor: pointer;
}

.status {
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    border-radius: 50%;
    width: 9px;
    height: 9px;
}

.vm-console{
    height: 800px;
    width: 1320px;
}

.status-indicator{
    width: 12px !important;
    height: 12px !important;
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    background: rgb(236, 55, 55);
}

.Stopped, .Stopping{
    background: rgb(236, 55, 55);
}

.Starting, .Running{
    background: rgba(47,179,68);
}

.fs{
    position: absolute;
    bottom: 0;
    right: 0px;
    border-radius: 12px;
    color: var(--c-background-tertiary);
    background: var(--c-accent-primary);
}

.cursor{
    cursor: pointer;
}

.warn-abs{
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translate(-50%, 0);
}

.name{
    position: absolute;
    bottom: 12px;
    left: 12px;
}

.wide-input{
    width: 100%;
    max-width: unset;
    display: block;
}

.wide-input input{
    padding-left: 1em;
}

input, textarea, select{
    box-shadow: none !important;
}

label{
    font-weight: bold;
}


p b{
    font-weight: bold;
}